mat-sidenav {
  width: 400px;
  height: 100%;
}
.matSumButton {
  font-size: 44px !important;
  height: 100px !important;
}

.mat-grid-tile-header {
  padding-top: 100px !important;
  height: 100px !important;
}
