<mat-toolbar>
  <span>ÖKGV - Kassasystem</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" position="end">
    <h3>Summe {{kassa.summe}}</h3>
    <p *ngFor="let o of kassa.order">{{o.name}}</p>
  </mat-sidenav>
    <section>

    <mat-tab-group>
      <mat-tab label="Getränke">
        <app-button-grid category="drinks"></app-button-grid>
      </mat-tab>
      <mat-tab label="Speisen">
        <app-button-grid category="food"></app-button-grid>
      </mat-tab>
      <mat-tab label="Kaffee">
        <app-button-grid category="kaffee"></app-button-grid>
      </mat-tab>
    </mat-tab-group>
  </section>
</mat-sidenav-container>
