.mat-raised-button {
  padding: 7px 6px 0 6px;
  margin: 60px 8px 6px 8px;
  width: 200px !important;
  height: 100px !important;
  border-radius: 23px;
  font-size: 24px;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
